---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { Image } from "astro:assets";
import indexImg from "../../src/assets/gifs/g1UX.gif";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="mb-6 mt-[-25px] relative">
        <Image src={indexImg} alt="gif-yw4rf" class="w-full h-60" />
      </div>      
      <h1 class="font-semibold text-[#0F1526] dark:text-[#ffffff]">
        👨‍💻 Tobias Gabriel F. | Cybersecurity Enthusiast | SOC | DFIR | Hands-on Penetration Testing | CTF Player
      </h1>
      <div class="space-y-14">
        <section>
          <article class="space-y-0">
            <span>
              <p>
                I'm a Computer Networking student with a strong self-taught background in cybersecurity, specializing in intrusion detection and digital forensics.
                I have hands-on experience in penetration testing and system analysis, and I'm currently deepening my knowledge of Blue Team operations and defensive security.
                I'm particularly interested in malware analysis and reverse engineering, and I'm actively learning C to strengthen my low-level programming and analysis skills.
                Based in Buenos Aires, Argentina, I'm continuously working to grow as a cybersecurity professional.</p>
            </span>
          </article>
        </section>
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
          <div class="inline-block">
            <h2 class="font-semibold text-black dark:text-white">
              📝 Latest posts
            </h2>
            <div class="h-1 bg-[#872341] mt-1 w-12"></div>
          </div>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
        <section class="animate space-y-4">
          <div class="inline-block">
          <h2 class="font-semibold text-black dark:text-white">
            💌 Get in touch
          </h2>
          <div class="h-1 bg-[#872341] mt-1 w-12"></div>
        </div>
          
          <ul class="not-prose flex flex-col gap-2">
            <li class="">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`} 
              >
                {SITE.EMAIL}
              </Link>
            </li>
            {
              SOCIALS.map((SOCIAL) => (
              <li class="flex items-center gap-x-2">
  <Link
    href={SOCIAL.HREF}
    external
    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
  >
    <span class="flex items-center gap-x-2">
      {SOCIAL.ICON && (
        <i class={SOCIAL.ICON} style={`color: ${SOCIAL.COLOR}`}></i>
      )}
      {SOCIAL.NAME}
    </span>
  </Link>
</li>
              ))
            }
          </ul>
        </section>  
        <section>
          <section class="my-6">
            <h2 class="font-semibold text-black dark:text-white">
              🔑 PGP Key
            </h2>
            <div class="h-1 bg-[#872341] mt-1 w-12"></div>
          </div>
            <pre class="p-4 rounded overflow-x-auto whitespace-nowrap font-mono text-sm">-----BEGIN PGP PUBLIC KEY BLOCK-----
              mQINBGgqhm8BEACti4qKVJHQD4OaQ+mS/2pj4TE/mqI5FkcKcxrSH3l9yXtNWERCbZns7nZS/1HiBlSxqmu3vlyOZE64lFIVh/GlFmznFmGPqOCpFde5wsQl2vRyakB7h9u0zUzPUQln3K4mQDO5Lq+o0YaKezx2ziGFjHLOx+6KgPCtoQkHC4+CN9JweeAZ9lfDXuRHGkFZ1f+NbCFCa6hYwLS1JkXE0No/m7drLxBHWmc1S1LtQ9mJkW3y0mhS8SetKAunBYFl2ggX9YwAKjLZJlHFDTjnk8zcLvegOr+uje6SOp6iBst7OaTASXaQTfydctFBt5H1YiDLFys0vFGx9BDSya2yfxBFZttxg6886Idh7Cn3nxKu4+RpyZ65y6X72exH5/pshOU1FWZ+egL6OL6ytsHJ1VaGOqjYRW/vbuuKCna33PPBvzYJkjTZFNKLne4slYzSbN5ZMd1KJnw3YS1SATk+v2YgwjQufpcLdSJ7ySSrmfKue3whbrqFwJzhZpDcPsOVF88xeXfVCX9A02eg4cWK5wdxZpUjt1yWy52PpRwMBGLl39M9Y3vi3kZUXhNiVu7ITlAVxEIhO0nOVggIwP/j/gD79ws3IyJl22ScEOGHwRn9RZfX1zFEMb9flNJG48yW/YcF33WoCvQFfap67g9FGczmD0c9pJWQgfEfHfQ//1cGrQARAQABtD1Ub2JpYXMgR2FicmllbCBGLiAoU2VwYXJlIGF1ZGUgaW5jaXBlKSA8eXc0cmZAcHJvdG9ubWFpbC5jb20+iQJOBBMBCgA4FiEEqLRhwfgmr/J5LsaSlsbHcEgv5SwFAmgqhm8CGwMFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQlsbHcEgv5SxscQ//e2pyuSDi2kgHQh/QTUfC9jPoo1Kj4GAbJgrx/SFwYHWB8VvgMSC//5qso2vViJo2B0ntA6vs6g8aY2rMjpcAYMwvnvHxpc8cCm6tBQvwpSPECHOTqjIiOKNGn6Nk8UnuBBIf7ExfEnU8tP+fy6hbkfZgE7IviAZmye+mPvFfX576fHRFBQF2piku70Y4gtm5yKDq1taYB/6vofbLieALiZ/6BsOAGK5RiCSUG48B4cGJ0oMFKhV8bCM+1k9kQDb5Ehwx6qyoa1ruhqIeMPwB2SUstT4Wp+HSoIQAkL/Wl/+D031qHm/GJvKebDtrBVH5rtcTHBPYTPYAszu/DBkZd9gweQxbgeEB0Abv1Jhbq8EKlw0h8JH5AyEA5i8ziLRUNmS4DNlMoVF9uTdgUHMa9aV+gQcgCTK60lbP8eNQh6aPHZ/yRhJTe/DAyzjXHkN/zRPXBZ3X1BuZvQaQaegFRA6qHq63dvh5m253kKlHlGwsJmVy5wCeJea8c+3huh8omr/Vb1rl0cH3WuwH9F6UqOeHQeqfRTqjG4QcMzq8ZTLk0NFixLDMzdVHawjTD1y+PRaig4WbyZXhmBNPguMBnrO1eEX4hL3U0PaxD8pRFkyC5n65BzeBuaHBGrSHadUrr4guP5ezyDtzroKMY4SflSXJD43JCRR837cqUf7rHqm5Ag0EaCqGbwEQAKqPVxyX6l3OhIeEJd5LcSZNrC0aZ2szFPQ+8h55bsIe7wlasiyGXl/Dh7ROgdUQKeoi0qp62W6PpAyCu0CsLkc/BEmjf+3W3cwkzr+Nl0YS5238QPghmPKiQh/MGyuN4FGKbV0MTNSiaRnMPgHhTQlFKPJBwnglZ4onxSFaHHoHhPUgOl4YOMAlvq7yizuUw7flhcLwALeDLaUSuSCSgPdsQhf00EpbVBiT9aFSkCp4ULyEmytI4jkjajgMlA+aL7aHhAm8V2myRmYHoPFVOifn/r1TEF1IKCqti+rm5D6bcTOG/g7nL2V3K+6C6k/CVkz+p1LJxslN6TqhoG5YOm0z19VruevXIIMl0Q4UZ7g4RS+km3sb6pfKrpt5L5IO75aFKa44wIINVh2Q/d+tvrz+7Zjp++/fllXgTcoUoGAqn3R2Y5oKqcr7rzsjEsIOxkDWuKh5kk95XuSVzOLgnSG/fuPq5BHsg45RYInADtfdmaIcFx+9EsGcmtOc0x3fur8R20M+BhxWTXxEsRa+G1nHgch0iTGtLU+WfLqvLdiCduFQnrgq1w5kGuYsI/EjJLf6ZsUE3Mj53oUcqhyKmQS2neJ+r6BxzLMPXNRUdbi6o+iz7hO/zjkahyqEbpl+aCPl9f1aYJ2/IZupY/Zzy/oxvOz+Z5j64vvKVjhx6KwpABEBAAGJAjYEGAEKACAWIQSotGHB+Cav8nkuxpKWxsdwSC/lLAUCaCqGbwIbDAAKCRCWxsdwSC/lLJ69D/9nLNVFgz8pwYyeYLhem8+IvQEkvq93FTjrvDebI6sF6E5GVbLwIPDMhzUr00D6tv5109X2Xt7Vcfb09fDUuMhXVVBXLqZguQilU1QIOfXIQ6AN8c6SDvPpkMNNZiTYdZsymFHmTWN6eydg+q8Tkznf2kKeIxcLAxY+errlDLpVytNi4vO30SZA2EVBNQZGge2ZSOoyoxQVWcPHiYUTtpOZzwvmhNid7IIDF3d/xak8pFACJLXOpoJvvtz85SPCRR9b8g5N2px3oCMeZBasnsfPb77kvwD8cWyYMFVyQzJP85uDpNTfFDBn5n4jliiNDWhnEJGO57WH7dbIFNWoCYJz7qmnnyfy/yOoq1gxPbi6OUvIuIRTZ44MvDZeY7uheoPTQ56MFhK/oCfZJxW6FGrGD2OpiAgFHwKORCFjvE6QpunwezR3DdTJVYhSROUiSvrMx/O1WBmhKQoH7tHtIV0bwe7TpkMq7FLRN8mRHTOMtOSp94CjWFs61vru9RXnGCl0UPE10KS0b4znBXAsYllPSVufnenplgqs+7Hnur0EzNhs0mythMH+AsnW83Ffe/2oRRrs+AyhiJ86qADu0mjHGjbJqMfy3fYLHC6+1aq3wy9wURhXLzUEuDOMD0L1Na5aNc4WPsnFNr+xiBCzIqBzo8wWDpC4pZE7bOGM3Kw1rw===jmgo
              -----END PGP PUBLIC KEY BLOCK-----</pre>
          </section>
        </section>      
      </div>
    </aside>
  </Container>
</Layout>


<script is:inline src="https://kit.fontawesome.com/7679e0cb88.js" crossorigin="anonymous"></script>